.photo {
  position: relative; }

.photo .submitted {
  left: 4px;
  top: 12px;
  position: absolute;
  z-index: 1; }

.photo .linked {
  right: 30px;
  bottom: 30px;
  position: absolute;
  z-index: 1; }

.photo svg {
  fill: rgba(84, 145, 132, 0.7);
  position: absolute; }

.photo svg:hover, .photo img:hover {
  cursor: pointer; }
